<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>one.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1407226A1DA98A9600C1870E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>140722811DA98A9600C1870E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1407228C1DA98A9700C1870E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
